body,.custom-b
{
    background-color: #FFF9DF;
}
.custom-bg {
    background-color:#D4BB98;
}
.custom-bg2
{
    background-color:#5F4B2A;
    color: white;
}
h1
{
    font-family: 'Miltonian Tattoo',serif;
}
 h2 {
    font-family: 'Bree Serif', serif; /* Font for About Us section */
    font-size:2.75rem;
}

h3,h4 {
    font-family: 'Ariel', sans-serif; /* Font for section headings */
    word-spacing: 3px;
}

p{
    font-family: 'Alegreya', serif; /* Font for paragraphs */
}
.btn1{
    background-color: blueviolet;
    color: white;
}
.btn1:hover {
background-color:rgb(65, 0, 126); /* Change background color on hover */
cursor: pointer; /* Change cursor to pointer */
color: white;
}
#profile-btn img {
    transition: 0.3 s ease-in-out;
}

#profile-btn:hover img {
    transform: scale(1.1);
}
.btn-specialization{
background-color: green;
color:white
}
.btn-specialization:hover
{
    background-color: darkgreen;
    color: whitesmoke;
}
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 12px 18px;
  border-radius: 40px;
  background-color: blueviolet;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
#topBtn:hover {
  background-color: #0056b3;
}
#cont{
    border-radius: 10px; /* Rounded corners */
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
            padding: 40px; /* Padding inside the section */
}
/* Style for the drop-down button */
.dropbtn {
    background-color: transparent; /* Remove background to make the image visible */
    border: none;
    cursor: pointer;
}

/* Style for the profile image */
.profile-img {
    width: 40px;   /* Adjust the size as needed */
    height: 40px;  /* Adjust the size as needed */
    border-radius: 50%;  /* Makes the image circular */
    object-fit: cover;  /* Ensures the image fits well */
}

/* The container for the drop-down */
.dropdown {
    position: relative;
    display: inline-block;
}

/* The drop-down content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the drop-down */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of links when hovering */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the drop-down content when hovering over the drop-down button */
.dropdown:hover .dropdown-content {
    display: block;
}
.input-width {
    max-width: 400px; /* Limit width */
    margin: 0 auto;   /* Center the input fields */
}